@model FirstDotNetCoreApp.Entities.Restaurent
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome!</title>
</head>
<body>
    <h1>Welcome this is the homepage</h1>
    <div>
        <table>
            <tr>
                <td>Id : @Model.Id</td>
                <td>Name: @Model.Name</td>
                <td>Type: @Model.Type</td>
            </tr>

        </table>
        <div>
            @Html.ActionLink("Home", "Index")          
        </div>
    </div>
</body>
</html>