@model IEnumerable<FirstDotNetCoreApp.Models.Restaurent>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome!</title>
</head>
<body>
<h1>Welcome this is the homepage</h1>
<div>
 
    <table>
        @foreach (var re in Model)
        {
            <tr>
                <td>@re.Id</td>
                <td>@re.Name</td>
            </tr>

        }
    </table>
</div>
</body>
</html>