@model FirstDotNetCoreApp.ViewModels.RestaurentViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome!</title>
</head>
<body>
<h1>Welcome this is the homepage</h1>
<div>
 <h2>@Model.CurrentGreeting</h2>
    <table>
        @foreach (var re in Model.Restaurents)
        {
            <tr>
                <td>@re.Id</td>
                <td>@re.Name</td>
            </tr>

        }
    </table>
</div>
</body>
</html>